<h1>Последние посты</h1>

<% @results.each do |item| %>
    <p>
        <%= item['input_name'] %>
        <br />
        <%= item['input_text'] %>
        <br />
        <%= item ['created_date'] %>
        <br />
        <a href="/post/<%= item ['id'] %>"> Комментарии </a>
    </p>
<% end %>