<!doctype html>
<html lang="en">
  <head>
	<title>Pet Blog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Style Link-->
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
	
	<!-- Script Link-->
	<script defer src="/vendor/js/jquery-3.5.1.min.js"></script>
	<script defer src="/vendor/js/bootstrap.min.js"></script>
	<script defer src="/vendor/js/common.js"></script>
  	</head>
  		<body>
			<div class="wrapper__list">
				<header class="header">
					<nav class="navbar navbar-dark bg-primary navbar-expand-lg navbar-light">
						<div class="container">
							<a class="navbar-brand" href="/">Blog</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>

							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav mr-auto">
									<li class="nav-item">
										<a class="nav-link" href="new/">Новый Пост</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/contacts">Контакты</a>
									</li>
								</ul>
							</div>
						</header>
					</nav>
				</div>
				<div class="container">
					<%if @error then %>
							<div class="alert alert-error"><%=@error%></div>
					<% end %>
					<%= yield %>
				</div>
			</div>
		</header>
    </body>
</html>

