<form action="/new" method="POST" role="form">
    <h3>Добавить новый пост</h3>
    <input name="addName" type="text" class="form-control col-3" placeholder="Введите ваше имя">
    <br />
    <textarea name="addNewPost" class="form-control" rows="6" placeholder="Добавить описание поста"></textarea>
    <br />
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>