<h3>Детальный пост</h3>
    <p>
        <hr />
        <%= @row['input_text'] %>
        <br />
        <hr />
        <%= @row ['created_date']%>
    </p>
<h4>Комментарии</h4>
<p>
    <form action="/post/<%= @row['id'] %>" method="POST" role="form">
        <textarea name="addNewPost" class="form-control" rows="6" placeholder="Оставте комментарий к посту"></textarea>
        </br>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</p>